$project-link: 'C:/Users/Vitalik/Google Drive/Programming/freeCodeCamp/Calculator/';
$background-color: #a0a6ad;
$screen-dark-color: #060a06;
$screen-color: #CEDFCD;
$cal-color: #778089;
$btn-color: #f6f6f6;
$btn-theme-color: #26EAB9;
